@model IList<Webshop.Model.Item>
@{
	ViewData["Title"] = "Webshop";
}

<h1>@ViewData["Title"]</h1>


<div class="container-fluid content-row">
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-lg-3 col-md-6" style="margin-bottom: 20px;">
					<div class="card h-100" style="width: 20rem;">
                        <p style="text-align:center; margin-top: 20px">
							<img class="img-thumbnail" src="@item.ImageURL" alt="@item.ImageURL"
								height="250px" width="200px" />
						</p>
						<div class="card-body text-center">
							<h5 class="card-title mb-3">
							<a asp-controller="Home" asp-action="Details" asp-route-id=@item.Id>@item.Title</a>
							</h5>
							<p class="card-text">
								<b>@item.Price.ToString("C")</b>
								<br/>
								<br/>
								<b>Current stock: @item.CurrentInStock</b>
								<br />
								<br />
								<b>Quantity: @item.Quantity</b>
							</p>
							@using (Html.BeginForm("Buy", "Home", item, FormMethod.Post))
							{
								<input disabled="@item.OutOfStock" type="submit" value="Buy"
									   onclick="location.href='@Url.Action("Buy", "Home", item)'" />
							}
						</div>
					</div>
				</div>
			}
		</div>
	</div>
				
